select.form-control {
    display:inline-block
}

header.header-global{
    background-color: #f8f9fa;
    margin-bottom:60px;
}


.header-global b{
    float: right;
    display: inline-block;
    line-height: 440%;
    color: #fff;
    margin-right: 25px;
    display:none;
}

#review_table #reviewer_update_form #review_table_wrapper {
    margin: 20px 50px 20px 20px;
    width: 100%;
    autoWidth: false;
}

.btns {
    border-top:1px solid #ccc;
    margin:20px 25px ; padding:20px 0;
    text-align:center;
    overflow:hidden;
}


.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
